// $newFont: 'Lobster', cursive;

@mixin centerItOut ($top) {
  margin-top:($top);
}



#clock {
  @include centeritOut(50%);
  color: white;
  font-size: 222px;
  text-align: center;
  // font-family: $newFont;
}
