$newFont: 'Lobster', cursive;
$border: 10px solid white;
@mixin sizeOfPage ($width,$height) {
  width: $width;
  height: $height;
}
@mixin centerItOut ($top,$bottom) {
  margin-top:($top);
  margin-bottom: ($bottom);
}

#clock {
  margin: 0;
  @include centerItOut(50%,50%);
  border: $border;
  color: white;
  font-size: 222px;
  text-align: center;
  font-family: $newFont;
}
